body {
    font-family: Arial, sans-serif;
    background-color: hsl(215, 55%, 28%);
    margin: 0;
    display: flex;
    align-items: center ; 
    justify-content: center;
    height: 100vh; /*Keeps the content centered in the display*/
}

.login-box {
    
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px; /* Level of curved edges*/
    box-shadow: -30px -50px 18px rgb(10, 132, 226); /* Moving the shadow ---- first numb(-30) = left and right, second num(-50) --- up and down, third numb(18) = blurriness  */
    max-width: 400px; 
    width: 100%;
    
}

.login-box h1 {
    position: relative;
    top: 50%;
    left: 40%;
    
}
.login-box p{
    text-align: center

    
}

.login-box label{
    display: block;
    align-content:space-around ;
    text-align: center; /* !Be specific on what are you targeting!*/
    padding: 10px;
    
}

.login-box input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 50px;
      
}

.login-box button {
    background-color: #1500fd;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* turn the arrow in to the hand ---- showing that is clickable*/
    position:relative; /* make the button movable*/
    left: 42%;
    font-size: 20px;
    
}

.login-box button:hover {
    background-color: #45a049;
}


/*SIGN UP PAGE STARTS*/

.SignUp-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 30px -20px 18px rgb(10, 132, 226);
    max-width: 400px;
    width: 100%;
}

.SignUp-box h1 {
    position:relative;
    text-align: center;
   
    
}

.SignUp-box label {
    display: block;
    margin-bottom: 3px;
    margin-right: -30px;
    align-content: center;
}

.SignUp-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
   
}


input[type="checkbox" i] {/* that's is how you target specific elements*/
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 15px -4px;/*top, right, bottom, left*/
    padding: initial;
    border: initial; 
    position: relative;
    bottom: 3%;
    
}

.SignUp-box button {
    background-color: #1500fd;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position:relative;
    left: 40%;
    font-size: 20px;
}


.SignUp-box button:hover {
    background-color: #45a049;
}

.SignUp-box p{
    text-align: center;
}
